[submodule "concentradores/fontes de exemplos/comunicacao com dll/horustech_teste_dll_delphi"]
	path = concentradores/fontes de exemplos/comunicacao com dll/horustech_teste_dll_delphi
	url = https://github.com/companytec/horustech_teste_dll_delphi
